

#smallbox {
height: 9vh;
width: 9vw;
background-color: lightskyblue;
margin-left: 20px;
/* margin-top: 5%;  */
text-align: left;

}

#header {
    height: 10vh;
    width: 100vw;
    margin-top: 0;
    background-color: rgb(173, 184, 196);
    box-sizing: border-box;
    padding: 5px;


}

#text-box {

    height: 25vh;
    width: 100vw;
    background-color: white;
}

.row {
    height: 15vh;
    width: 100vw;
    margin-top: 0;
}

#green {
    background-color: lightgreen;
}
#ocean {
    background-color: cyan;

}
#blue {
    background-color: lightskyblue;
    
}
#yellow {
    
    background-color: yellow;
    
    /* padding: 0%;
    margin-right: 0%; */
}
