

body{
    margin: 0%;
    width: 100vw;
    height: 50vh;
    background-color: lightgrey;
    
}
.box {
    height: 100px;
    width: 100vw;
    background-color: darkgray;
    border-style: solid;
    border-width: 25px;
    border-color: darkgray;
    padding-left: 100px;
    padding-right: 100px;
    
     
   }
.bottombox {
    height: 75vh;
    width: 75%;
    background-color: white;
    margin-left: 15%;
    margin-right: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-left: 0%;
    padding-top: 0%;

}

.footer {
    height: 10vh;
    width:75%;
    background-color: black;
    margin-left: 15%;

}